<style>
    .fizz{
        color:red;
        font-weight: bolder;
        }
    .buzz{
        color:blue;
        font-weight: bolder;
        }
    .fizzbuzz{
        color:rebeccapurple;
        font-weight: bolder;
        }
</style>
<div class="row">
    <div class="col-xs-12 text-center h2">
        Javascript Exercise 4 : FizzBuzz
    </div>
</div>
<hr />
<div class="row">
    <div class="col-xs-12 text-center h3">
        Enter two whole numbers between 0 and 100.
    </div>
</div>
<div class="row">
    <div class="col-xs-12 text-center">
        <input type="number" class="input-lg" id="fizz" placeholder="Enter a number.">
    </div>
</div>
<div class="row">
    <div class="col-xs-12 text-center">
        <input type="number" class="input-lg" id="buzz" placeholder="Enter a number.">
    </div>
</div>
<div class="row">
    <div class="col-xs-12 text-center">
        <p id="fizzbuzz"></p>
    </div>
</div>

<div class=row>
    <div class="col-xs-12 text-center">
        <div class="btn-group-lg">
            <button id="fizzBtn"  class="btn btn-primary">FizzBuzz</button>
            <button id="clearBtn4" class="btn btn-danger">Clear</button>
            <button id="codeBtn4"  class="btn btn-success">Show Code</button>
            <div class="row">
                <div class="col-xs-12 text-justify">
                    <div id="code4">
                        <pre class="brush: js">
 //Get input from user
    $("#fizzBtn").click(function () {
        var fizz = +$("#fizz").val();
        var buzz = +$("#buzz").val();
        var output = "";
        //Perform the Function
        for (var counter = 1; counter <= 100; counter++)
            if (counter % fizz == 0 && counter % buzz == 0) {
                output += ("<span class='fizzbuzz'>FizzBuzz, </span>")
            }
            else if (counter % fizz == 0) {
                output += ("<span class='fizz'>Fizz, </span>")
            }
            else if (counter % buzz == 0) {
                output += ("<span class='buzz'>Buzz, </span>")
            }
            else {
                output += counter + (", ")
            }
        output = output.slice(0, output.length - 2)
        //Display the results to the user
        $("#fizzbuzz").html(output);
    })
    //Clear the input and output
    $("#clearBtn4").click(function () {
        $("#fizz, #buzz").val("");
        $("#fizzbuzz").text("");
    })
</pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/FizzBuzz.js"></script>
      }