@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Caleb Fields Portfolio</title>

    <!-- CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/nivo-lightbox/nivo-lightbox.css" rel="stylesheet" />
    <link href="~/Content/nivo-lightbox/default.css" rel="stylesheet" />
    <link href="~/Content/owl.carousel.css" rel="stylesheet" />
    <link href="~/Content/owl.theme.css" rel="stylesheet" />
    <link href="~/Content/animate.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/default.css" rel="stylesheet" />
    <link href="~/Scripts/SyntaxHighlighter/styles/shCore.css" rel="stylesheet" />
    <link href="~/Scripts/SyntaxHighlighter/styles/shThemeEclipse.css" rel="stylesheet" />
    <link href="~/Content/SumofAllFears.css" rel="stylesheet" />
    <link href="~/Content/FizzBuzz.css" rel="stylesheet" />

    <!-- =======================================================
      Theme Name: Lonely
      Theme URL: https://bootstrapmade.com/free-html-bootstrap-template-lonely/
      Author: BootstrapMade
      Author URL: https://bootstrapmade.com
    ======================================================= -->

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-custom">
    <!-- Preloader -->
    <div id="preloader">
        <div id="load"></div>
    </div>


    <!-- Section: intro -->
    <section id="intro" class="intro">

        <div class="page-scroll">
            <a href="#about">
                <i class="fa fa-shield fa-5x animated"></i>
            </a>
        </div>
    </section>
    <!-- /Section: intro -->
    <!-- Navigation -->
    <div id="navigation">
        <nav class="navbar navbar-custom" role="navigation">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">

                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
                                <i class="fa fa-bars"></i>
                            </button>
                        </div>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="menu">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="#intro">Home</a></li>
                                <li><a href="#about">About Me</a></li>
                                <li><a href="#gallery">Portfolio</a></li>
                                <li><a href="#contact">Talk to me</a></li>
                            </ul>
                        </div>
                        <!-- /.Navbar-collapse -->

                    </div>
                </div>
            </div>
            <!-- /.container -->
        </nav>
    </div>
    <!-- /Navigation -->
    <!-- Section: about -->
    <section id="about" class="home-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">

                    <div class="section-heading text-center">
                        <div class="wow bounceInDown" data-wow-delay="0.2s">
                            <h2>My name is Caleb Fields</h2>
                        </div>
                        <p class="wow bounceInUp" data-wow-delay="0.3s">I'm 28 years old, from a small town in North Carolina, and I'm a nerd. </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-6">

                    <img src="~/img/img1.jpg" class="img-responsive img-rounded" alt="" />
                </div>
                <div class="col-md-6">
                    <p><strong>A long time ago in a shire far,far away...</strong></p>
                    <p>
                        From Sci-Fi to Fantasy, Star Wars to Lord of the Rings, competetive gaming to Dungeons and Dragons. If it's nerdy or geeky, chances are I've tried it and love it.
                        I've always been drawn to technology as it applies to those hobbies of mine. I've always had an aptitude for taking things apart, seeing how they work, and most of the time putting them back together.
                    </p>
                    <p>
                        After some wandering around and trying my hand at different career fields, I finally found an opportunity to do something with that technological passion and aptitude. I've found success in what I've learned
                        with coding so far. My hope is to never stop learning and to help others find and enjoy what they love easier through technology.
                    </p>
                    <blockquote>
                        "Not all those who wander are lost."
                    </blockquote>
                </div>
            </div>
        </div>
    </section>
    <!-- /Section: about -->
    <!-- Section: separator -->
    <section id="separator" class="home-section parallax text-center" data-stellar-background-ratio="0.5">

        <div class="container">
            <div class="row">
                <div class="col-xs-6 col-sm-3 col-md-3">
                    <div class="align-center txt-shadow">
                        <div class="icon">
                            <i class="fa fa-code fa-5x"></i>
                        </div>
                        <span class="color-white">Coder</span>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3">
                    <div class="align-center txt-shadow">
                        <div class="icon">
                            <i class="fa fa-heart fa-5x"></i>
                        </div>
                        <span class="color-white">Married</span>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3">
                    <div class="align-center txt-shadow">
                        <div class="icon">
                            <i class="fa fa-laptop fa-5x"></i>
                        </div>
                        <span class="color-white">Gamer</span>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3">
                    <div class="align-center txt-shadow">
                        <div class="icon">
                            <i class="fa fa-bolt fa-5x"></i>
                        </div>
                        <span class="color-white">Wizard of the Coast</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /Section: separator -->
    <!-- Section: gallery -->
    <section id="gallery" class="home-section text-center bg-white">

        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="wow bounceInDown" data-wow-delay="0.4s">
                        <div class="section-heading">
                            <h2>My Portfolio</h2>
                            <p>Take a look at my work so far.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="wow bounceInUp" data-wow-delay="0.4s">
                <div class="col-md-4">
                    <img src="~/img/6.jpg" class="img-responsive btn" alt="img">
                    <div class="caption">
                        <p>
                            Blog
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="~/img/7.jpg" class="img-responsive btn" alt="img">
                    <div class="caption">
                        <p>
                            Bug Tracker
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="~/img/9.jpg" id ="challenger" class="img-responsive btn" alt="img">
                    <div class="caption">
                        <p>
                            Coding Challenges
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid" id="codechal">
            <div class="row">
                <div class="col-md-offset-2 text-center">
                    <div class="col-md-2">
                        <img src="~/img/1.jpg" class="img-responsive btn" data-toggle="modal" data-target="#mathmodal" alt="img">
                        <div class="caption">
                            <p>
                                Math Exercises
                            </p>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <img src="~/img/2.jpg" class="img-responsive btn" data-toggle="modal" data-target="#factmodal" alt="img">
                        <div class="caption">
                            <p>
                                Factorial!
                            </p>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <img src="~/img/3.jpg" class="img-responsive btn" data-toggle="modal" data-target="#palinmodal" alt="img">
                        <div class="caption">
                            <p>
                                Palindrome
                            </p>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <img src="~/img/4.jpg" class="img-responsive btn" data-toggle="modal" data-target="#fizzbuzzmodal" alt="img">
                        <div class="caption">
                            <p>
                                FizzBuzz
                            </p>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <img src="~/img/5.jpg" class="img-responsive btn" data-toggle="modal" data-target="#SoAFmodal" alt="img">
                        <div class="caption">
                            <p>
                                Sum of All Fears
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </section>
    <!-- /Section: services -->
    <!-- Section: contact -->
    <section id="contact" class="home-section text-center">
        <div class="heading-contact">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-offset-2">

                        <div class="section-heading">
                            <div class="wow bounceInDown" data-wow-delay="0.4s">
                                <h2>Send a Raven</h2>
                            </div>
                            <p class="wow lightSpeedIn" data-wow-delay="0.3s">Feel free to contact me</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="container">

            <div class="row">
                <div class="col-lg-8 col-md-offset-2">
                    <div class="form-wrapper marginbot-50">
                        <div id="sendmessage">Your message has been sent. Thank you!</div>
                        <div id="errormessage"></div>
                        <form id="contact-form" action="" method="post" role="form" class="contactForm">
                            <div class="form-group">
                                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                <div class="validation"></div>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                                <div class="validation"></div>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                                <div class="validation"></div>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                                <div class="validation"></div>
                            </div>

                            <div class="text-center"><button type="submit" class="btn btn-skin btn-block" id="btnContactUs">Send Message</button></div>
                        </form>
                    </div>
                    <div class="text-center">
                        <p class="lead"><i class="fa fa-phone"></i> Call me +1-(336)-301-7902</p>
                    </div>
                </div>

            </div>

        </div>
    </section>
    <!-- /Section: contact -->

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <p>&copy; Lonely Theme. All Rights Reserved</p>
                    <div class="credits">
                        <!--
                          All the links in the footer should remain intact.
                          You can delete the links only if you purchased the pro version.
                          Licensing information: https://bootstrapmade.com/license/
                          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Lonely
                        -->
                        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> <br /> Edited by Caleb Fields.
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Code for Modals-->
    <div id="mathmodal" class="modal fade" style="padding:100px" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title text-center">Math Exercises</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12 text-center h2">
                            Coding Challenge 1 : Math Exercises
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 text-center h3">
                            Enter five numbers for some simple math.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="row">
                                <div class="col-xs-6">
                                    <input type="number" id="mathnum1" placeholder="Enter a number." />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <input type="number" id="mathnum2" placeholder="Enter a number." />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <input type="number" id="mathnum3" placeholder="Enter a number." />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <input type="number" id="mathnum4" placeholder="Enter a number." />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <input type="number" id="mathnum5" placeholder="Enter a number." />
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="row">
                                <div class="col-xs-12">
                                    <p id="smallest"></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <p id="largest"></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <p id="sum"></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <p id="product"></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <p id="average"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class=row>
                        <div class="col-xs-12 text-center">
                            <div class="btn-group-lg">
                                <button id="mathBtn" class="btn btn-primary">Calculate</button>
                                <button id="clearBtn" class="btn btn-danger">Clear</button>
                                <button id="codeBtn1" class="btn btn-success">Show Code</button>
                                <div class="row">
                                    <div class="col-xs-12 text-justify">
                                        <div id="code1">
                                            <pre class="brush: js">
$("#mathBtn").click(function () {
        //Step 1: Get the user data
        var num1 = Number($("#mathnum1").val());
        var num2 = Number($("#mathnum2").val());
        var num3 = Number($("#mathnum3").val());
        var num4 = Number($("#mathnum4").val());
        var num5 = Number($("#mathnum5").val());

        //Step 2: Make the calculations with the given data
        var smallest = Math.min(num1, num2, num3, num4, num5);
        var largest = Math.max(num1, num2, num3, num4, num5);
        var sum = num1 + num2 + num3 + num4 + num5;
        var product = num1 * num2 * num3 * num4 * num5;
        var average = sum / 5;


        //Step 3: Display the results
        $("#smallest").text("The smallest number is: " + smallest);
        $("#largest").text("The largest number is: " + largest);
        $("#sum").text("The sum of the numbers is: " + sum);
        $("#product").text("The product of the numbers is: " + product);
        $("#average").text("The average of the numbers is: " + average);
    });
        //Clear Input and Output
    $("#clearBtn").click(function () {
        $("#mathnum1, #mathnum2, #mathnum3, #mathnum4, #mathnum5").val("");
        $("#smallest, #largest, #sum, #product, #average").text("");
    }
</pre>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    <div id="factmodal" class="modal fade" style="padding:100px" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title text-center">Factorial!</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12 text-center h3">
                            Enter any number less than 171 to find its factorial.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <input type="number" id="mathnum6" placeholder="Enter a number." />
                        </div>
                        <div class="col-xs-6">
                            <p id="output"></p>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <div class="btn-group-lg">
                                <button id="mathBtn2" class="btn btn-primary">Calculate</button>
                                <button id="clearBtn2" class="btn btn-danger">Clear</button>
                                <button id="codeBtn2" class="btn btn-success">Show Code</button>
                                <div class="row">
                                    <div class="col-xs-12 text-justify">
                                        <div id="code2">
                                            <pre class="brush: js">
$("#mathBtn2").click(function () {
    //Get user input
    var num6 = +$("#mathnum6").val();
    //Do the calculation
    if (num6 > 170) {
        alert("Please enter a positive number less than 171.");
        $("#mathnum6").val("");
        $("#output").text("");
        return;
    }
    for (var fact = num6 - 1; fact > 1; fact--) {
        num6 *= fact;
    }
    //Display results to the User
    $("#output").text("The factorial of your number is " + num6 + ".");
});

//Clear the input and display
$("#clearBtn2").click(function () {
    $("#mathnum6").val("");
    $("#output").text("");
});
</pre>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    <div id="palinmodal" class="modal fade" style="padding:100px" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title text-center">Palindrome</h4>
                </div>
                <div class="modal-body">
                    <style>
                        .palin {
                            color: forestgreen;
                            font-weight: bolder;
                        }

                        .nolip {
                            color: red;
                            font-weight: bolder;
                        }
                    </style>

                    <div class="row">
                        <div class="col-xs-12 text-center h2">
                            Javascript Exercise 3 : Palindrome
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-xs-12 text-center h3">
                            Enter a word to reverse it, and see if it <span class="palin"> is </span> or <span class="nolip">isn't</span> a palindrome.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <input type="text" id="word" class="text-center" placeholder="Flip it! !ti pilF" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 text-center h2">
                            <p id="reverse"></p>
                        </div>
                    </div>
                    <hr />
                    <div class=row>
                        <div class="col-xs-12 text-center">
                            <div class="btn-group-lg">
                                <button id="palinBtn" class="btn btn-primary">Reverse</button>
                                <button id="clearBtn3" class="btn btn-danger">Clear</button>
                                <button id="codeBtn3" class="btn btn-success">Show Code</button>
                                <div class="row">
                                    <div class="col-xs-12 text-justify">
                                        <div id="code3">
                                            <pre class="brush: js">
  $("#palinBtn").click(function () {
        //Get user input
        var word = $("#word").val();
        //Flip the word and check for symmetry
        for (var index = word.length - 1, newword = ''; index >= 0; index--) {
            newword += word.substr(index, 1);
        }
        if (word == newword) {
            var palindrome = '<span class="palin">' + newword + '</span>'
        }
        else {
            var palindrome = '<span class="nolip">' + newword + '</span>'
        }
        //Show user the Results
        $("#reverse").html(palindrome);

    });
    //Clear input and output
    $("#clearBtn3").click(function () {
        $("#word").val("");
        $("#reverse").text("");
    });
})
</pre>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    <div id="fizzbuzzmodal" class="modal fade" style="padding:100px" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title text-center">FizzBizz</h4>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="col-xs-12 text-center h2">
                            Javascript Exercise 4 : FizzBuzz
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-xs-12 text-center h3">
                            Enter two whole numbers between 0 and 100.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <input type="number" class="input-lg" id="fizz" placeholder="Enter a number.">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <input type="number" class="input-lg" id="buzz" placeholder="Enter a number.">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <p id="fizzbuzz"></p>
                        </div>
                    </div>
                    <hr />
                    <div class=row>
                        <div class="col-xs-12 text-center">
                            <div class="btn-group-lg">
                                <button id="fizzBtn" class="btn btn-primary">FizzBuzz</button>
                                <button id="clearBtn4" class="btn btn-danger">Clear</button>
                                <button id="codeBtn4" class="btn btn-success">Show Code</button>
                                <div class="row">
                                    <div class="col-xs-12 text-justify">
                                        <div id="code4">
                                            <pre class="brush: js">
 //Get input from user
    $("#fizzBtn").click(function () {
        var fizz = +$("#fizz").val();
        var buzz = +$("#buzz").val();
        var output = "";
        //Perform the Function
        for (var counter = 1; counter <= 100; counter++)
            if (counter % fizz == 0 && counter % buzz == 0) {
                output += ("<span class='fizzbuzz'>FizzBuzz, </span>")
            }
            else if (counter % fizz == 0) {
                output += ("<span class='fizz'>Fizz, </span>")
            }
            else if (counter % buzz == 0) {
                output += ("<span class='buzz'>Buzz, </span>")
            }
            else {
                output += counter + (", ")
            }
        output = output.slice(0, output.length - 2)
        //Display the results to the user
        $("#fizzbuzz").html(output);
    })
    //Clear the input and output
    $("#clearBtn4").click(function () {
        $("#fizz, #buzz").val("");
        $("#fizzbuzz").text("");
    })
</pre>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    <div id="SoAFmodal" class="modal fade" style="padding:100px" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title text-center">Sum of All Fears</h4>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="col-xs-12 text-center h2">
                            Coding Challenge 5: Sum of All Fears
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-xs-12 text-center h3">
                            Enter any six numbers and then a seventh called "K". <br> The program will search the array two at a time and see if any of their sums equal the "K" value.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2">
                            <input type="number" class="sumput" id="num1" />
                        </div>
                        <div class="col-xs-2">
                            <input type="number" class="sumput" id="num2" />
                        </div>
                        <div class="col-xs-2">
                            <input type="number" class="sumput" id="num3" />
                        </div>
                        <div class="col-xs-2">
                            <input type="number" class="sumput" id="num4" />
                        </div>
                        <div class="col-xs-2">
                            <input type="number" class="sumput" id="num5" />
                        </div>
                        <div class="col-xs-2">
                            <input type="number" class="sumput" id="num6" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <div class="row">
                                Enter a value for K below.
                            </div>
                            <div class="row">
                                <input type="number" class="sumput" id="numK" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <p id="K"></p>
                        </div>
                    </div>
                    <hr />
                    <div class=row>
                        <div class="col-xs-12">
                            <div class="btn-group-lg text-center">
                                <button id="fearBtn" class="btn btn-primary">Calculate</button>
                                <button id="clearBtn5" class="btn btn-danger">Clear</button>
                                <button id="codeBtn5" class="btn btn-success">Show Code</button>
                                <div class="row">
                                    <div class="col-xs12 text-justify">
                                        <div id="code">
                                            <pre class="brush: js">
$(function () { 
        //Get the users input
       $("#fearBtn").click(function () {
        var num1 = +$("#num1").val();
        var num2 = +$("#num2").val();
        var num3 = +$("#num3").val();
        var num4 = +$("#num4").val();
        var num5 = +$("#num5").val();
        var num6 = +$("#num6").val();
        var numK = +$("#numK").val();
        var checkK = false;
        var output = (numK + " was not found.")
        //Search the array
        var field = [num1, num2, num3, num4, num5, num6]
        var answer = 0
        for (var check1 = 0; check1 <= field.length - 1; check1++) {
            for (var check2 = 1; check2 <= field.length - 1; check2++) {
                

                answer = (field[check1]) + (field[check2])
                if (answer == numK && check1 !== check2) {
                    checkK = true
                    output = (numK + " was found by adding array members " + field[check1] + " and " + field[check2] + ".")
                    break;                    
                }                
            }            
        }       
        //Display the results to the user
        $("#K").text(output);
    })
        //Clear the input and output
    $("#clearBtn5").click(function () {
        $("#num1, #num2, #num3, #num4, #num5, #num6, #numK").val("");
        $("#K").text("");
    })
});
                            </pre>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    <!-- Modal End-->
    <!-- Core JavaScript Files -->

    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.easing.min.js"></script>
    <script src="~/Scripts/jquery.sticky.js"></script>
    <script src="~/Scripts/jquery.scrollTo.js"></script>
    <script src="~/Scripts/stellar.js"></script>
    <script src="~/Scripts/wow.min.js"></script>
    <script src="~/Scripts/owl.carousel.min.js"></script>
    <script src="~/Scripts/nivo-lightbox.min.js"></script>
    <!-- Modal Codal-->
    <script src="~/Scripts/MathExercise.js"></script>
    <script src="~/Scripts/Factorial.js"></script>
    <script src="~/Scripts/Palindrome.js"></script>
    <script src="~/Scripts/FizzBuzz.js"></script>
    <script src="~/Scripts/SumofallFears.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="~/Scripts/custom.js"></script>
    <script src="~/Scripts/SyntaxHighlighter/scripts/shCore.js"></script>
    <script src="~/Scripts/SyntaxHighlighter/scripts/shBrushJScript.js"></script>
    <script type="text/javascript">
        SyntaxHighlighter.all()
    </script>
  
    <script>
        $(function () {
            $("#codechal").hide();
            $("#challenger").click(function () {
                $("#codechal").toggle();
            })
        })
    </script>

    </body>

</html>
